@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-display: fallback;
  font-weight: 200;
  src: url("./Qs_IRANYekan.ttf") format(truetype);
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: url("./Qs_IRANYekan\ black.ttf") format(truetype);
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
  src: url("./Qs_IRANYekan\ bold.ttf") format(truetype);
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-display: fallback;
  font-weight: 600;
  src: url("Qs_IRANYekan\ extrablack.ttf") format(truetype);
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-display: fallback;
  font-weight: 800;
  src: url("./Qs_IRANYekan\ extrabold.ttf") format(truetype);
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-display: fallback;
  font-weight: 200;
  src: url("./Qs_IRANYekan\ light.ttf") format(truetype);
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-display: fallback;
  font-weight: 300;
  src: url("./Qs_IRANYekan\ medium.ttf") format(truetype);
}
@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-display: fallback;
  font-weight: 100;
  src: url("./Qs_IRANYekan\ thin.ttf") format(truetype);
}
